*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

[class^="col"] {
    padding: 1rem;
}

.row{
    display: flex;
    margin: 0 -1rem;
    flex-wrap: wrap;
}

ol{

   list-style: none;
    a{
        text-decoration: none;
        color: white;
    }
}

main{
    margin: auto;
    width: 80%;
}
